<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
</head>
<body>
    <center>
    <table class="list">
        <tr>
            <th>№</th>
            <th>Кличка</th>
            <th>Цвет</th>
            <th>Возраст</th>
        </tr>
        <!-- это цикл по массиву объектов -->
        {{#each arr}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.dog_name}}</td>
                <td>{{this.color}}</td>
                <td>{{this.age}}</td>
            </tr>
        {{/each}}
    </table>
    </center>
</body>
<html>