<!DOCTYPE html>
<html>
<head>
    <title>Собаки</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" />
</head>
<body>
    <center>
    <br>
    <form>
        <input class="txt" name="dog_name" type="text" placeholder="Кличка собаки" value="">
        <input class="txt" name="color" type="text" placeholder="Цвет" value="">
        <input class="txt" name="age" type="text" placeholder="Возраст" value="">
        <br>
        <button class="btn btn-primary" formaction="/new" formmethod="post">Добавить запись</button>
    </form>
    <br>
    <table class="list">
        <tr>
            <th width="8%">id</th>
            <th>Кличка</th>
            <th>Цвет</th>
            <th width="15%">Возраст</th>
            <th width="15%">Удалить</th>
        </tr>
        <!-- это цикл по массиву объектов -->
        {{#each arr}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.dog_name}}</td>
                <td>{{this.color}}</td>
                <td>{{this.age}}</td>
                <td>
                    <a href="/edit/{{this.id}}">Edit</a>
                    <a href="/del/{{this.id}}" onClick="return window.confirm('Удаляем?');">Del</a>
                </td>
            </tr>
        {{/each}}
    </table>
    </center>
</body>
<html>